h5.modal-title{
  font-size: 2em;
  font-weight: bold;
}

.modal-header{
  padding: 15px 15px 1px 15px;
}

.orderLabel{
  font-weight: bold;
}

#tbody td.total{
  background-color: #fff;
}

.bold{
  font-weight: bold;
}
